<div class="user-profile">
  <div class="media pull-left">
    <% avatar_url = current_user.avatar_url(230) %>
    <% if avatar_url %>
      <%= image_tag avatar_url, class: 'meida-object gravatar_lg' %>
    <% end %>

    <h4><%= current_user.email %></h4>
    <hr>
    <p><span class="glyphicon glyphicon-tasks"></span> Number of sign in: <%= current_user.sign_in_count %></p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Join on: <%= current_user.created_at %></p>
    <hr>

  </div>
  <div class="col-md-9 pull-right">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge"><%= current_user.sign_in_count %></span>
        Sign in count
      </li>
      <li class="list-group-item">
        <span class="badge"><%= current_user.created_at %></span>
        Created your account at
      </li>
      <li class="list-group-item">
        <span class="badge"><%= current_user.updated_at %></span>
        Updated your account at
      </li>
    </ul>
  </div>
</div>
